body {
    background-color: #f0f0f0;
}

.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container form {
    width: 400px;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 60px;
    border-radius: 6px;
    box-shadow: 2px 2px 2px #e0e0e0;
}

.login-container input[type="text"] {
    width: 100%;
    height: 40px;
    border: 1px solid #e0e0e0;
    background-color: #ffffff;
    margin-bottom: 40px;
    border-radius: 6px;
}

.login-container input[type="submit"] {
    width: 100px;
    height: 40px;
    background-color: #416675;
    border-radius: 6px;
    border: none;
    color: #ffffff;
}

.login-container input[type="submit"]:hover {
    background-color: #669bb0;
}

.login-container input[type="submit"]:focus {
    background-color: #669bb0;
}

.login-container input[type="text"]:focus {
    border: 1px solid #bfbfbf;
    outline: 0px;
}


